{% extends "base.html" %}

{% block title %}HOME{% endblock %}

{% block content %}
<div class="container">
    <div class="container text-center"><h1>Hello Readers!</h1></div>
<h2>About Blog app</h2>
<div class="p-3">
    <p>Welcome To Blog app.</p>
    <p>This website will let you read various blogs written by different authors. You can appreciate their work by writting comments below post and also you can write your own blog.</p>
    <p>Checkout some amazing posts....</p>
</div>
</div>
{% endblock %}