{% extends "base.html" %}

{% block title %}User Profile{% endblock title %}

{% block content %}
<div class="row justify-content-between">
    <div class="col-5">
        <h2 class="text-success">Hello, {{user.author_name}}</h2>
    </div>
    <div class="col-4">
        <a href="{% url "author:author-profile-update" user.id %}" class="btn btn-success ms-3">Update Profile</a>
        <a href="{% url "blog:create-blog" %}" class="btn btn-success ms-3">Add Blog</a>
    </div>
</div>
<hr>
<div>
    <p>{{author.author_bio|linebreaksbr}}</p>
</div>
<hr>
<h3 class="text-success">All the blogs that you posted</h3>
{% if blogs %}
{% for blog in blogs %}
<div class="card border-success m-3">
    <div class="card-header bg-success bg-opacity-75 d-flex justify-content-between">
        <a class="text-decoration-none" href="{% url "blog:blog_detail" blog.id %}"><h5 class="text-white">{{ blog.title }}</h5></a>
        <div><a class="btn btn-outline-light btn-sm" href="{% url "blog:update-blog" blog.id %}">update</a>
        <a class="btn btn-outline-light btn-sm" href="{% url "blog:delete-blog" blog.id %}">delete</a></div>
    </div>
    <div class="card-body">
        {% comment %} <p class="card-text">Date posted :{{blog.created_at}}</p> {% endcomment %}
        <p class="card-text">Date posted :</p>
    </div>
</div>
{% endfor %}
{% else %}
You have not posted any blogs yet! <br> Add now....
{% endif %}
{% endblock content %}